.swal2-icon-size > .swal2-styled.swal2-confirm {
    font-size: 1.5em !important;
    border-left-color: rgb(212, 212, 212) !important;
    border-right-color: rgb(212, 212, 212) !important;
}

.swal2-bg {
    background-color: transparent;
}