pre#view-log {
  padding: 15px;
  background-color: #f2f3f7;
}

.card-list {
  border-bottom: 1px solid #e8e8ec !important;
  padding: 20px !important;
  margin-bottom: 15px;
}

.table-list td {
  padding: 13px 10px;
}

.table-list td.action {
  padding: 7px 5px;
}

.table-list td.action .dropdown-item {
  cursor: pointer;
}

.swal2-icon-size > .swal2-styled.swal2-confirm {
  font-size: 1.5em !important;
  border-left-color: #d4d4d4 !important;
  border-right-color: #d4d4d4 !important;
}

.swal2-bg {
  background-color: transparent;
}

